.button {
    margin-top: 30px;
    border: none;
    background-color: #323232;
    padding: 8px 5px 8px 15px;
    color: white;
    border-radius: 30px;
    display: flex;
    font-size: 17px;
    flex-direction:row;
    align-items: center;
}
.button svg {
    margin-left: 20px;
    background-color: white;
    color: #323232;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
}