.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
  }
  
  .footer h3 {
    color: rgb(200, 200, 200);
    font-size: 19px;
    margin-bottom: 15px;
    font-weight: 400 !important;
  }
  
  .footer p {
    color: rgb(161, 153, 153);
    font-size: 14px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 768px) {
    .footer h3 {
      font-size: 16px;
    }
    
    .footer p {
      font-size: 12px;
    }
  }

  @media screen and (max-width:590px){
    .footer {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }