* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background:
    linear-gradient(to top right, #fbfbfb, #fbfbfb) top right,
    linear-gradient(to bottom left, #77c0ff, #77c0ff) bottom left,
    linear-gradient(to bottom right, #ffe27b, #ffe27b) bottom right,
    linear-gradient(to top left, #77c0ff, #77c0ff) top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgb(88, 88, 88);
}

h1 {
  font-size: 48px;
  color: #323232;
}

h4 {
  color: #323232;
  padding-bottom: 5px;
}

.section {
  padding: 50px 10%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-top-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.section-button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.check {
  position: absolute;
  top: 10px;
  right: 10px;
}

.svg-div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.section-middle-div {
  margin-top: 50px;
  width: 100%;
}

@media screen and (max-width: 1450px) and (min-width: 1024px) {
  .section {
    padding: 30px 4%;
  }

}

@media screen and (max-width:1024px) {
  .section {
    padding: 30px 2%;
  }
}

@media screen and (max-width:672px) {
  .hero-banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  h1,
  .sub-heading,
  .sub-sub-heading {
    text-align: center;
  }

  .section-wrapper {
    align-items: center;
  }

  .section-top-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-button-div {
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
  }

  .section-button-div button {
    margin-top: 10px;
  }
}